<div class="all-events-container">
    <h1>Tus Eventos</h1>
  
    <div class="table-container">
      <div *ngIf="isLoading" class="loading">
        <mat-spinner diameter="50"></mat-spinner>
        <p>Cargando eventos...</p>
      </div>
  
      <app-events-table 
        *ngIf="!isLoading && dataSource.data.length > 0" 
        [dataSource]="dataSource" 
        [displayedColumns]="displayedColumns"
        [onViewDetails]="navigateToEvent">
      </app-events-table>
  
      <div *ngIf="!isLoading && dataSource.data.length === 0" class="no-events">
        <p>No hay eventos disponibles</p>
      </div>
    </div>
</div>
